<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        placeholder="Question Title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a Question title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        placeholder="Question Content"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a Question title.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Question</button>
  </form>
</mat-card>
